// All around margins
.m-sm {
  margin: .25rem;
}

.m-md {
  margin: .5rem;
}

.m-lg {
  margin: 1rem;
}

// All around paddings
.p-sm {
  padding: .25rem;
}

.p-md {
  padding: .5rem;
}

.p-lg {
  padding: 1rem;
}
